@font-face {
    font-family: "Barlow";
    src: url(../fonts/BarlowSemiCondensed-Light.ttf);

}

@font-face {
    font-family: "Sacramento";
    src: url(./fonts/Sacramento-Regular.ttf);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(228, 232, 232);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;


   

}

img {
    max-width: 100%;
}

.grilla {
    height: 100vh;
    background-color: rgb(245, 233, 247);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "quien quien servicios urgencias"
    "quien quien sueno contacto";

    justify-items: stretch;
    align-items: stretch;
}

.quien {
    background-color: rgb(221, 160, 239);
    grid-area: quien;
    font-family: Sacramento;
    font-size: xx-large;
    background-image: url("../img/perrito.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../img/DraBere.png");
    border-radius: 2rem;

}
.servicios {
    background-color: rgb(116, 187, 193);
    grid-area: servicios;
    font-family: Sacramento;
    font-size: xx-large;
    border-radius: 2rem;
}
.sueno {
    background-color: rgb(252, 185, 242);
    grid-area: sueno;
    font-family: Sacramento;
    font-size: xx-large;
    border-radius: 2rem;
}
.urgencias {
    background-color: rgb(255, 202, 127);
    grid-area: urgencias;
    font-family: Sacramento;
    font-size: xx-large;
    border-radius: 2rem;
}
.contacto {
    background-color: rgb(217, 134, 221);
    grid-area: contacto;
    font-family: Sacramento;
    font-size: xx-large;
    border-radius: 2rem;
}

.hijo {
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav {
    background-color: rgb(237, 194, 247);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 5rem;
}

.menu {
    
    font-family: Sacramento;
    font-size:xx-large;
    color:rgb(84, 12, 85);

    list-style-type:none;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center; /*no se centra*/

    gap: 1rem;
}
h1 {

    font-family: Barlow;
    font-size:xx-large;
    color:rgb(31, 128, 122);
    margin: 1rem;

}

h3 {

    font-family: Barlow;
    font-size:larger; /*no recuerdo si así el tamaño de fuente*/
    color:rgb(31, 128, 122);
    margin: 1rem;

}
p {
    font-family: Barlow;
    color: rgb(96, 97, 97);
    /*width: 200px;*/

    margin: 1rem;
}

img {

    margin: 1rem;
    
}

h2 {

    font-family: Barlow;
    font-size:larger; /*no recuerdo si así el tamaño de fuente*/
    color:rgb(107, 31, 128);
    margin: 1rem;

}

.test1{
    color: blueviolet;
}

.pie {
    background-color: rgb(48, 181, 161);
    padding: 1em 0;
    text-align: center;
}